@import url(font.css);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, black, rgb(99, 98, 98));
  border-radius: 8px;
  border: 2px solid rgb(58, 57, 57);
}

header {
  height: 100vh;
  position: relative;
}

.header__bg {
  position: absolute;
  width: 100%;
  z-index: -999;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 78%, 0 100%, 0 0);
          clip-path: polygon(50% 0%, 100% 0, 100% 78%, 0 100%, 0 0);
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}
.nav__content ul {
  display: flex;
  list-style: none;
}
.nav__content ul li {
  margin-right: 20px;
}
.nav__content ul li a {
  text-decoration: none;
  color: black;
  opacity: 0.8;
  font-size: 16px;
  font-family: "poppins";
  font-weight: 400;
  display: inline-block;
  position: relative;
}
.nav__content ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  bottom: 0;
  right: 0;
  background: black;
  transform-origin: bottom left;
  transition: transform 0.2s ease-out;
}
.nav__content ul li a:hover::after {
  background: black;
  transform: scaleX(1);
  transform: origin right;
}
.nav__content .nav__btn button {
  color: #FFFFFF;
  background: #444BD3;
  width: 140px;
  height: 35px;
  border-radius: 8px;
  border: none;
  transition: 0.2s ease-in;
}
.nav__content .nav__btn button:hover {
  color: black;
  border: 1px solid rgba(18, 17, 39, 0.1215686275);
  background: none;
  transition: 0.2s ease-in;
}

.header__content {
  margin-top: 6em;
}
.header__content h1 {
  font-size: 55px;
  font-family: "poppins";
  font-weight: 700;
  text-align: center;
}
.header__content p {
  font-size: 20px;
  opacity: 0.7;
  font-family: "poppins";
  font-weight: 400;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 25px;
}
.header__content .header__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__content .header__btn button {
  color: #FFFFFF;
  background: #444BD3;
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.2s linear;
  margin-right: 15px;
}
.header__content .header__btn button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 100%;
  transform: scale(0) rotateX(50deg);
  background: #2e9b20;
  display: block;
  z-index: -1;
  transition: 0.2s linear;
}
.header__content .header__btn button:hover::before {
  width: 100%;
  transform: scaleX(1);
}
.header__content img {
  margin-left: 18em;
  z-index: 6;
}

.solve__content .solve__title {
  margin-top: 20em;
}
.solve__content .solve__title .solve__block P {
  color: #444BD3;
  font-size: 16px;
  font-family: "poppins";
  font-weight: 600;
}
.solve__content .solve__title .solve__block h1 {
  font-size: 32px;
  font-family: "poppins";
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 40px;
}
.solve__content .solve__title .solve__parent {
  display: flex;
}
.solve__content .solve__title .solve__parent .solve__box {
  background: #FFFFFF;
  box-shadow: 0px 20px 50px 0px rgba(18, 17, 39, 0.0784313725);
  margin-right: 50px;
}
.solve__content .solve__title .solve__parent .solve__box img {
  padding: 15px;
  margin-top: 10px;
}
.solve__content .solve__title .solve__parent .solve__box h1 {
  font-size: 16px;
  font-family: "poppins";
  font-weight: 700;
  margin-left: 15px;
}
.solve__content .solve__title .solve__parent .solve__box p {
  font-size: 14px;
  opacity: 0.7;
  font-family: "poppins";
  font-weight: 400;
  padding: 15px;
  margin-bottom: 10px;
}

.blog__block .blog__box h4 {
  color: #444BD3;
  font-size: 14px;
  font-family: "poppins";
  font-weight: 600;
  text-align: center;
  margin-top: 5em;
}
.blog__block .blog__box h1 {
  font-size: 45px;
  font-family: "poppins";
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}
.blog__block .blog__box p {
  font-size: 18px;
  opacity: 0.7;
  font-family: "poppins";
  font-weight: 400;
  text-align: center;
}
.blog__block .blog__text {
  display: flex;
  margin-top: 30px;
}
.blog__block .blog__text .blog__title {
  box-shadow: 0px 20px 50px 0px rgba(18, 17, 39, 0.0784313725);
  margin-right: 30px;
  width: 360px;
}
.blog__block .blog__text .blog__title h4 {
  color: #8B5CF6;
  font-size: 14px;
  font-family: "poppins";
  font-weight: 600;
  padding: 15px;
}
.blog__block .blog__text .blog__title h1 {
  font-size: 14px;
  font-family: "poppins";
  font-weight: 600;
  margin-left: 15px;
}
.blog__block .blog__text .blog__title p {
  font-size: 16px;
  opacity: 0.7;
  font-family: "poppins";
  font-weight: 400;
  padding: 15px;
}
.blog__block .blog__text .blog__parent {
  display: flex;
  align-items: center;
  margin-left: 15px;
}
.blog__block .blog__text .blog__parent img {
  width: 65px;
}
.blog__block .blog__text .blog__parent h1 {
  font-size: 16px;
  font-family: "poppins";
  font-weight: 600;
}
.blog__block .blog__text .blog__parent p {
  font-size: 12px;
  font-family: "poppins";
  font-weight: 400;
}

.customer__content {
  margin-top: 100px;
}
.customer__content .customer__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.customer__content .customer__text .customer__title h2 {
  color: #444BD3;
  font-size: 16px;
  font-weight: 600;
  font-family: "poppins";
}
.customer__content .customer__text .customer__title h1 {
  font-size: 40px;
  font-weight: 700;
  font-family: "poppins";
  width: 450px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.customer__content .customer__text .customer__title p {
  width: 450px;
  font-size: 16px;
  font-weight: 400;
  font-family: "poppins";
  margin-bottom: 20px;
}
.customer__content .customer__text .customer__title button {
  background: #444BD3;
  width: 180px;
  height: 45px;
  border: none;
  border-radius: 8px;
  color: white;
  transition: 0.2s linear;
  font-size: 16px;
}
.customer__content .customer__text .customer__title button:hover {
  background: none;
  color: black;
  border: 2px solid black;
  transition: 0.2s linear;
}
.customer__content .customer__text .customer__image {
  position: relative;
}
.customer__content .customer__text .customer__image i {
  color: #444BD3;
  position: absolute;
  font-size: 65px;
  top: 35%;
  left: 45%;
  cursor: pointer;
}
.customer__content .customer__line {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid rgba(18, 17, 39, 0.1215686275);
}
.customer__content .customer__block {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
  font-family: "poppins";
  text-align: center;
}
.customer__content .customer__box {
  margin-top: 40px;
}
.customer__content .customer__box img {
  padding-left: 80px;
}

.cost__content {
  margin-top: 100px;
}
.cost__content .cost__text h2 {
  font-size: 32px;
  font-weight: 700px;
  font-family: "poppins";
  text-align: center;
}
.cost__content .cost__text p {
  font-size: 16px;
  font-weight: 600px;
  font-family: "poppins";
  text-align: center;
  margin-top: 10px;
}
.cost__content .cost__block {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cost__content .cost__block .cost__box {
  margin-top: 35px;
}
.cost__content .cost__block .cost__box h1 {
  font-size: 18px;
  font-weight: 700px;
  font-family: "poppins";
}
.cost__content .cost__block .cost__box h1 i {
  color: #90ECF4;
  margin-right: 10px;
}
.cost__content .cost__block .cost__box p {
  font-size: 14px;
  font-weight: 400;
  font-family: "poppins";
  width: 300px;
  margin-left: 30px;
  margin-top: 15px;
}

.country__content {
  margin-top: 100px;
}
.country__content .country__text h2 {
  font-size: 40px;
  font-weight: 700px;
  font-family: "poppins";
  text-align: center;
  margin-bottom: 10px;
}
.country__content .country__text p {
  font-size: 20px;
  font-weight: 400px;
  font-family: "poppins";
  text-align: center;
}
.country__content .country__block {
  box-shadow: 0px 20px 50px 0px rgba(18, 17, 39, 0.0784313725);
  width: 930px;
  height: 160px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 130px;
  margin-top: 50px;
  border-radius: 10px;
}
.country__content .country__block .country__box h1 {
  color: #444BD3;
  font-size: 40px;
  font-weight: 700px;
  font-family: "poppins";
  margin-left: 15px;
}
.country__content .country__block .country__box p {
  font-size: 16px;
  font-weight: 600px;
  font-family: "poppins";
}

footer {
  background: #121127;
  margin-top: 100px;
}
footer .footer__block {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .footer__block .footer__box img {
  color: #6068DB;
}
footer .footer__block .footer__box P {
  color: white;
  width: 300px;
  opacity: 0.7;
  margin-top: 15px;
  margin-bottom: 15px;
}
footer .footer__block .footer__box i {
  color: white;
  opacity: 0.7;
  margin-right: 10px;
  font-size: 18px;
}
footer .footer__block .footer__title h1 {
  color: white;
  font-size: 14px;
  font-weight: 600px;
  font-family: "poppins";
  opacity: 0.7;
  margin-bottom: 15px;
  margin-top: 15px;
}
footer .footer__block .footer__title ul li {
  list-style: none;
  margin-top: 10px;
}
footer .footer__block .footer__title ul li a {
  font-size: 16px;
  font-weight: 400px;
  font-family: "poppins";
  text-decoration: none;
  color: white;
}/*# sourceMappingURL=style.css.map */